hr{
    width: 60px;
    height: 1px;
    border: 1px solid #169CB4;
    background-color: #169CB4;
    margin-bottom: 60px;
}
body {
    margin: 0;
    padding: 0;
}
.container-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container{

}
.navbar{
    background-color: #1D2124;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav-logo{
    width: 27px;
    height: 27px;
    margin-left: 16px;
    margin-top: 19px;
    margin-right: 16px;
}
.nav-name{
    color: white;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 17px;
    margin-bottom: 16px;
}
.header-link{
    text-decoration: none;
}
.nav-list{
    margin-left: 430px;
    margin-top: 23px    ;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.nav-item{
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    margin-right: 37px;
}
.nav-link{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.nav-search{
    margin-left: 245px;
    margin-top: 13px;
    width: 17px;
    height: 17px;
}
.news{
    background-image: linear-gradient( rgba(0,0,0,.4), rgba(0, 0, 0, 0.5) ), url("../img/header-bg.jpeg");
    background-attachment: fixed;
    width: 1920px;
    height: 387px;
    background-position: 0 780px;
}
.news-flex{
    display: flex;
    flex-direction: column;
}
.news-text{
    margin-top: 104px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 27px;
    color: white;
    margin-right: 75px;
}
.header-btns{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 725px;
}
.news-subscribe{
    background-color: #89CA62;
    width: 170px;
    height: 55px;
    color: white;
    font-size: 18px;
    margin-right: 31px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #89CA62;
    font-family: "Open Sans", sans-serif;
}
.news-best-articles{
    background-color: #14B9D5;
    width: 170px;
    height: 55px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #14B9D5;
    font-family: "Open Sans", sans-serif;
}
.most-popular-posts{
    background-color: #F2F2F2;
    padding-top: 1px;
    padding-bottom: 54px;
}
.most-popular-text{
    text-align: center;
    color: #18B4CF;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 600 ;
    font-family: "Open Sans bold", sans-serif;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: 50px;
}
.posts{
    text-align: center;
    display: flex;
    margin-left: 325px;
    flex-direction: row;
}
.post-block{
    margin-left: 23px;
    margin-bottom: 24px;
}
.posts-text{
    text-align: center;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    background-color: white;
    width: 370px;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 17px;
}
.post-block-link{
    text-decoration: none;
    color: black;
}
.popular-clients{
    background-image: linear-gradient( rgba(0,0,0,.3), rgba(0, 0, 0, 0.3) ), url("../img/parallax-bg.jpeg");
    background-attachment: fixed;
    width: 1920px;
    height: 588px;
    background-position: 0 1055px;
    display: grid;
}
.popular-clients-text{
    text-align: center;
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    margin-top: 200px;
    margin-bottom: 58px;
}
.popular-clients-img-1{
    filter: brightness(35);
    margin-left: 515px;
    margin-right: 76px;
    margin-bottom: 158px;
}
.popular-clients-img-2{
    filter: contrast(10);
    margin-right: 74px;
    margin-bottom: 148px;
}
.popular-clients-img-3{
    filter: contrast(10);
    margin-right: 76px;
    margin-bottom: 153px;
}
.popular-clients-img-4{
    filter: contrast(10);
    margin-bottom: 147px;
}
.top-rated-img {
    object-fit: cover;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.top-rated-text {
    font-family: "Open Sans bold", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #18B4CF;
    font-size: 27px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 39px;
}
.hot-news-text{
    font-weight: 600 ;
    font-family: "Open Sans bold", sans-serif;
    text-transform: uppercase;
    color: #18B4CF;
    font-size: 27px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 39px;
}
.hot-news-container {
    margin-left: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3vw;
    grid-template-areas:
            "hot-news-block1 hot-news-block2"
            "hot-news-block3 hot-news-block4"
            "hot-news-block5 hot-news-block6"
            "hot-news-block7 hot-news-block8"
}
.hot-news-block1 {
    width: 360px;
    grid-area: hot-news-block1;
    background-color: #F9F7F7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.hot-news-block1-1{
    width: 320px;
    height: 259px;
    text-align: center;
    background-color: #F9F7F7;
}
.hot-news-block2 {
    grid-area: hot-news-block2;
    background-color: #F9F7F7;
    margin-left: 245px;
    height: 259px;
    width: 310px;
}
.hot-news-block3 {
    grid-area: hot-news-block3;
    background-color: #F9F7F7;
}

.hot-news-block4 {
    grid-area: hot-news-block4;
    background-color: #F9F7F7;
    width: 554px;
    height: 458px;
}
.hot-news-block5 {
    grid-area: hot-news-block5;
    background-color: #F9F7F7;
}
.hot-news-block6 {
    grid-area: hot-news-block6;
    background-color: #F9F7F7;
    width: 554px;
    height: 458px;
}
.hot-news-block7 {
    grid-area: hot-news-block7;
    background-color: #F9F7F7;
    height: 259px;
    width: 310px;
}
.hot-news-block8 {
    width: 360px;
    grid-area: hot-news-block8;
    background-color: #F9F7F7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    left: -250px;
}
.hot-news-block8-8{
    width: 320px;
    height: 259px;
    text-align: center;
    background-color: #F9F7F7;
}
.hot-news-tittle{
    text-align: right;
    font-family: "Open Sans bold", sans-serif;
    margin-bottom: 28px;
    font-size: 16px;
    margin-top: 31px;
    margin-right: 18px;
}
.hot-news-tittle-right{
    text-align: right;
    font-family: "Open Sans bold", sans-serif;
    margin-bottom: 28px;
    font-size: 16px;
    margin-top: 31px;
    margin-right: 18px;
    padding-left: 25px;
}
.hot-news-tittle-little{
    font-family: "Open Sans bold", sans-serif;
    margin-left: 63px;
    position: relative;
    top: -10px;
}
.hot-news-info-left{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-right: 18px;
    margin-left: 20px;
    text-align: center;
}
.hot-news-info{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-top: 17px;
    margin-right: 18px;
    margin-left: 20px;
    text-align: right;
}
.hot-news-img-little{
    height: 210px;
    width: 310px;
}
.foot{
    margin-top: 71px;
    background-color: #1D2124;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
}
.foot-text{
    color: #FFFFFF;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    grid-area: text;
    width: 504px;
    height: 13px;
    margin-left: 348px;
    padding-top: 26px;
    padding-bottom:25px;
}
.foot-img{
    grid-area: img1;
    margin-left: 560px;
    margin-top: 35px;
}
.lioit-text {
    filter: brightness(10);
    grid-area: img2;
    text-align: right;
    margin-top: 35px;
}
.foot-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "text img1 img2"
}

